@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&family=Roboto+Mono:wght@400;500;600&display=swap');

:root {
    --mainColor: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(200deg, #f81926, #e15690, #83489e, #44dd77, #04deea);
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--mainColor);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--mainColor);
    height: 70vh;
    width: 70vw;
    gap: 3em;
    backdrop-filter: blur(250px);
}

header {
    font-size: 2.5em;
}

/*form {
    font-size: 1.5em;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}*/
form {
    font-size: 1.5em;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

#text-container,
#text-container:focus {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 1px 1px 4px;
    box-shadow: 0px 0px 6px 2px;
    height: fit-content;
    position: relative;
}

#text {
    background-color: #00000000;
    color: var(--mainColor);
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#remove-txt-btn {
    background-color: #00000000;
    color: var(--mainColor);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgb(0, 0, 0));
    border: none;
}

#submitBtn,
#language {
    padding: 10px;
    background-color: #00000000;
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    color: var(--mainColor);
    font-family: 'Roboto Mono';
    outline: none;
}

#button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pitch-input-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 1px 1px 4px;
    box-shadow: 0px 0px 6px 2px;
    min-width: 4.5em;
    max-width: 5em;
    text-align: center;
}

#language option {
    color: hsl(0, 0%, 40%);
    font-family: 'Roboto Mono', monospace;
}

#button-container label {
    display: grid;
}


/* @media (min-width: 769px) {
    form {
        display: none;
    }
}*/

@media (min-width: 1187px) {
    form {
        font-size: 1.5em;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #button-container {
        flex-direction: column;
    }
}