@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&family=Roboto+Mono:wght@400;500;600&display=swap');

:root {
    --mainColor: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(200deg, #f81926, #e15690, #83489e, #4d7, #04deea);
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--mainColor);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--mainColor);
    height: 70vh;
    width: 70vw;
    gap: 3em;
    backdrop-filter: blur(250px);
}

header {
    font-size: 2.5em;
}

form {
    font-size: 1.5em;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#text:focus,
#text {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    height: 90%;
    outline: none;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 1px 1px 4px;
    box-shadow: 0px 0px 6px 2px;
}

#submitBtn {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    color: var(--mainColor);
    font-family: 'Roboto Mono'
}